.testimonial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--clr-p1);
  overflow: hidden;
}

.testimonial img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-content {
  padding: 4rem 4rem 8rem 8rem;
  align-self: end;
  background: url("../../images/decorators/bottom-right-p.svg") no-repeat bottom
    4rem right 4rem;
}

.testimonial-content p {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 3.2rem;
  max-width: 32ch;
  position: relative;
}

.testimonial p::before,
.testimonial p::after {
  font-size: 8rem;
  color: var(--clr-p2);
  position: absolute;
}

.testimonial p::before {
  content: "“";
  left: -5rem;
  top: -2rem;
}

.testimonial p::after {
  content: "”";
}

@media (max-width: 800px) {
  .testimonial {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .testimonial img {
    max-height: 20rem;
  }

  .testimonial-content {
    padding: 4rem 2rem;
    justify-self: center;
  }
}

@media (max-width: 600px) {
  .testimonial-content {
    background: initial;
  }

  .testimonial-content p {
    max-width: 36ch;
    margin-bottom: 1.6rem;
  }

  .testimonial p::before,
  .testimonial p::after {
    display: none;
  }
}

@media (min-width: 1200px) {
  .testimonial img {
    max-height: 52rem;
  }
}
