.bikes-list {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.bikes-list h2 {
  margin-bottom: 4rem;
}

.bikes-list ul {
  display: flex;
  gap: 4rem;
  padding: 0 2rem 2rem 2rem;
  max-width: 140rem;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.bikes-list li {
  min-width: 28rem;
}

.bikes-list a {
  display: block;
}

.bikes-list img {
  margin-bottom: 1.6rem;
}

.bikes-list h3 {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
}

.bikes-list h3::before {
  content: "";
  display: inline-block;
  height: 0.8rem;
  width: 1.2rem;
  margin-right: 0.8rem;
  background-color: var(--clr-p1);
  transition: width 0.3s;
}

.bikes-list a:hover h3::before {
  width: 2rem;
}

.bikes-list li span {
  padding-left: 2rem;
}

@media (max-width: 800px) {
  .bikes-list {
    padding-bottom: 6rem;
  }

  .bikes-list ul {
    gap: 2rem;
  }
}
