html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  max-width: 120rem;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.header-menu a {
  display: inline-block;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 1.6rem 0;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 0.2rem;
  width: 0;
  background-color: #ffffff;
  margin-top: 0.4rem;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 2rem;
  }

  .header-menu a {
    background-color: #111111;
    padding: 1.2rem 1.6rem;
    border-radius: 0.4rem;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }

  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 1.2rem;
  }

  .header-menu a {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
  }
}
